<template>
  <div style="float: left;">
    <!-- 都道府県 -->
    <el-select
      @change="changedMiddleArea"
      v-model="conditions.area.middle"
      size="24"
      placeholder="都道府県を選択">
      <el-option
        v-for="item in options.middleArea"
        :key="item.value"
        :label="item.label"
        :value="item.value" />
    </el-select>

    <!-- 市区町村 -->
    <el-select
      @change="changedSmallArea"
      v-model="conditions.area.small"
      size="32"
      style="margin-left: 20px;"
      placeholder="市区町村を選択">
      <el-option
        v-for="item in options.smallArea"
        :key="item.value"
        :label="item.label"
        :value="item.value" />
    </el-select>

    <!-- 詳細地域 -->
    <!-- 詳細地域が存在しない場合はドロップダウンを表示しない -->
    <el-select
      v-show="options.detailArea.length != 0"
      v-model="conditions.area.detail"
      size="32"
      style="margin-left: 20px;"
      placeholder="詳細地域を選択">
      <el-option
        v-for="item in options.detailArea"
        :key="item.value"
        :label="item.label"
        :value="item.value" />
    </el-select>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    data () {
      return {
        middleClasses: [], // 楽天トラベル地区コードAPIのmiddleClassesノード以下を保持する
        options: {
          middleArea: [],  // 都道府県を示すコードとラベルのリスト
          smallArea: [],   // 市区町村などを示すコードとラベルのリスト
          detailArea: []   // 駅や詳細地域などを示すコードとラベルのリスト
        }
      }
    },
    created () {
      // 楽天トラベル地区コードAPIのレスポンスを取得する
      this.$store.dispatch('HotelSearch/getAreaClass')
    },
    watch: {
      // 楽天トラベル地区コードAPIのレスポンスが取得出来たらドロップダウンの初期化処理を行う
      areaCode: function () {
        if (this.areaCode !== []) {
          this.middleClasses = this.areaCode.areaClasses.largeClasses[0][0].middleClasses
          this.initialize()
        }
      }
    },
    computed: {
      ...mapGetters('HotelSearch', ['areaCode']),
      ...mapGetters('HotelSearch', ['conditions'])
    },
    methods: {
      // 都道府県のドロップダウンを初期化する
      initialize () {
        this.options.middleArea = []
        for (var mc of this.middleClasses) {
          this.options.middleArea.push(
            {
              value: mc.middleClass[0].middleClassCode,
              label: mc.middleClass[0].middleClassName
            }
          )
        }
      },
      // 都道府県のドロップダウンの選択項目が変化した時に実行される
      // 選択された都道府県コードに応じて対応する市区町村のドロップダウンを更新する
      changedMiddleArea () {
        this.options.smallArea = []      // 市区町村のドロップダウンをクリア
        this.conditions.area.small = ''  // 選択中の市区町村コードをクリア
        this.conditions.area.detail = '' // 選択中の詳細地域コードをクリア
        let index = 0                    // 都道府県のインデックス(0〜47の範囲を取る)
        // 選択中の都道府県のインデックスを取得する
        for (var ma of this.options.middleArea) {
          if (ma.value === this.conditions.area.middle) {
            break
          }
          index++
        }
        let smallClasses = this.middleClasses[index].middleClass[1].smallClasses
        // 選択中の都道府県に紐づく市区町村リストをドロップダウンにセットする
        for (var sc of smallClasses) {
          this.options.smallArea.push(
            {
              value: sc.smallClass[0].smallClassCode,
              label: sc.smallClass[0].smallClassName
            }
          )
        }
      },
      // 市区町村のドロップダウンの選択項目が変化した時に実行される
      // 選択された市区町村コードに応じて対応する詳細地域のドロップダウンを更新する
      // なお、詳細地域は存在しないことの方が多い
      changedSmallArea () {
        this.options.detailArea = []     // 選択中の詳細地域コードをクリア
        this.conditions.area.detail = '' // 選択中の詳細地域コードをクリア
        let index = 0                    // 都道府県のインデックス(0〜47の範囲を取る)
        // 選択中の都道府県のインデックスを取得する
        for (var ma of this.options.middleArea) {
          if (ma.value === this.conditions.area.middle) {
            break
          }
          index++
        }
        let smallClasses = this.middleClasses[index].middleClass[1].smallClasses
        for (var sc of smallClasses) {
          // 選択中の市区町村ノードを対象に処理を行う
          if (sc.smallClass[0].smallClassCode === this.conditions.area.small) {
            // 詳細地域ノードが存在するかどうか調べる
            if (sc.smallClass.length !== 1) { // detailClassesノードが存在する時
              // 選択中の市区町村に紐づく詳細地域リストをドロップダウンにセットする
              for (var dc of sc.smallClass[1].detailClasses) {
                this.options.detailArea.push(
                  {
                    value: dc.detailClass.detailClassCode,
                    label: dc.detailClass.detailClassName
                  }
                )
              }
            }
            break // detailClassesノードが存在しない時はループを抜ける
          }
        }
      }
    }
  }
</script>
