<template>
  <!-- ページ最上部に表示するヘッダー -->
  <div>
    <el-menu
      :default-active="activeIndex"
      mode="horizontal"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b">
      <el-menu-item index="1"><a href="/"><strong>Vue.js Demo</strong></a></el-menu-item>
      <el-menu-item index="2"><a href="https://jp.vuejs.org/" target="_blank">Vue.js 公式サイト</a></el-menu-item>
      <el-menu-item index="3"><a href="https://vuex.vuejs.org/ja/" target="_blank">Vuex 公式サイト</a></el-menu-item>
      <el-menu-item index="4"><a href="http://element.eleme.io/#/en-US" target="_blank">Element 公式サイト</a></el-menu-item>
      <el-menu-item index="5"><a href="https://webservice.rakuten.co.jp/document/" target="_blank">楽天サービスAPI一覧</a></el-menu-item>
      <el-menu-item index="6"><a href="https://github.com/axios/axios" target="_blank">axios</a></el-menu-item>
      <el-menu-item index="7"><a href="https://www.npmjs.com/package/async-validator" target="_blank">async-validator</a></el-menu-item>
    </el-menu>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        activeIndex: '1'
      }
    }
  }
</script>
