<template>
  <div>
    <!-- 開いた時に該当する宿泊施設の空室検索を行う -->
    <el-collapse @change="handleChange">
      <el-collapse-item :title="moreText" :name="hotelNo">
        <!-- 空室が一つ以上見つかった時にリストを表示する -->
        <div v-if="plans.length !== 0">
          <el-table
            :data="plans"
            style="width: 100%">
            <el-table-column prop="stayDate" label="宿泊日" width="120">
            </el-table-column>
            <el-table-column prop="planName" label="プラン名">
            </el-table-column>
            <el-table-column prop="roomName" label="部屋名" width="200">
            </el-table-column>
           <el-table-column prop="total" label="宿泊金額(税込)" width="180">
            </el-table-column>
            <el-table-column prop="reserveUrl" label="プラン詳細" width="240">
              <template slot-scope="scope">
                <!--
                  slot-scopeを使用することによって、scope.row.reserveUrlにアクセス出来る
                -->
                <el-button @click="visitRakutenTravel(scope.row.reserveUrl)" type="warning" round>
                  <strong>このプランの詳細を見る</strong>
                </el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <!-- 空室が一つも見つからなかった時に以下のメッセージを表示する -->
        <div v-else>
          該当するプランが１つも見つかりませんでした。<br>条件を変更すると他のプランが見つかる可能性があります。
        </div>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import {
    requestRakutenApi,
    chargeToLocalStringWithTax,
    openExternalSite
  } from '../helpers/utils'

  export default {
    props: {
      hotelNo: { type: Number } // 宿泊施設番号を元に空室検索APIへ問い合わせる
    },
    data () {
      return {
        moreText: 'プラン一覧を見る', // 「プラン一覧を見る」と「プラン一覧を閉じる」の表示を切り替える
        hotels: [],                // 楽天トラベル空室検索APIのレスポンスを格納する
        plans: []                  // テーブルのデータ表示用に空室検索APIのレスポンスを加工して格納する
      }
    },
    computed: {
      ...mapGetters('HotelSearch', ['conditions'])
    },
    watch: {
      // 楽天トラベル空室検索APIのレスポンスを取得した時にテーブルの初期化処理を行う
      hotels: function () {
        if (this.hotels.length !== 0) {
          this.setTable(this.hotels[0])
        }
      }
    },
    methods: {
      // 楽天トラベルのプラン詳細ページを別ウィンドウで開く
      visitRakutenTravel (url) {
        openExternalSite(url)
      },
      // 検索条件と宿泊施設に紐づくプラン一覧を表形式で表示するための処理
      setTable (data) {
        // 配列の0〜2の要素は処理の対象外
        if (data.length > 3) {
          // 楽天トラベル空室検索APIで取得したレスポンスのroomBasicInfoを加工してリストにする
          for (let i = 3; i < data.length; i++) {
            let roomBasicInfo = data[i].roomInfo[0].roomBasicInfo
            let dailyCharge = data[i].roomInfo[1].dailyCharge
            this.plans.push(
              {
                planName: roomBasicInfo.planName,
                roomName: roomBasicInfo.roomName,
                reserveUrl: roomBasicInfo.reserveUrl,
                stayDate: dailyCharge.stayDate,
                total: (chargeToLocalStringWithTax(dailyCharge.total) + ' 円')
              }
            )
          }
        }
      },
      // テーブルの初期化処理
      initialize () {
        this.hotels = []
        this.plans = []
        this.searchVacantHotel(this.hotelNo) // 楽天トラベル空室検索APIのレスポンスを得る
        this.setTable(this.hotels)
      },
      // el-collapseが開いた時に該当する宿泊施設の空室検索を行う
      handleChange (value) {
        if (value.length === 1) {
          this.moreText = 'プラン一覧を閉じる'
          if (this.plans.length === 0) {
            this.initialize()
          }
        } else {
          this.moreText = 'プラン一覧を見る'
        }
      },
      // 楽天トラベル空室検索API
      searchVacantHotel (hotelNo) {
        let startDate = this.conditions.visitDuration[0] // 検索条件に指定されたチェックイン日
        let endDate = this.conditions.visitDuration[1]   // 検索条件に指定されたチェックアウト日
        let params = {
          applicationId: process.env.RAKUTEN_API_KEY,
          format: 'json',
          formatVersion: '2',
          elements: 'hotels',                 // 取得する要素をhotelsノードに限定する
          datumType: '1',
          hotelNo: hotelNo,                   // 表示中の宿泊施設番号
          hits: '3',
          adultNum: this.conditions.adultNum, // 検索条件に指定された宿泊人数(大人)
          checkinDate: startDate,
          checkoutDate: endDate,
          responseType: 'middle',
          sort: 'standard'
        }
        const API_PATH = '/Travel/VacantHotelSearch/20170426'
        requestRakutenApi(API_PATH, params, hotelNo)
          .then(data => {
            if (data !== null) {
              this.hotels = data.hotels
            }
          })
      }
    }
  }
</script>
