<template>
  <div>
    <el-card style="margin-bottom: 16px;">
      <div slot="header" class="clearfix">
        <h1 style="font-size: 20pt;">
          <a :href="hotelBasicInfo.hotelInformationUrl" target="_blank">
            {{ hotelBasicInfo.hotelName }} <span style="font-size: small;">({{ hotelBasicInfo.hotelKanaName }})</span>
          </a>
        </h1>
      </div>
      <el-row :gutter="20">

        <el-col :span="6">
          <div style="width: 240px;" class="box">
            <img class="img" :src="hotelBasicInfo.hotelImageUrl" :width="220" :height="220">
          </div>
        </el-col>

        <el-col :span="12">
          <div style="width: 560px;" class="text item box">
            <div style="text-align: left;">
              [施設の特徴]<br>
              <p>{{ hotelBasicInfo.hotelSpecial }}</p>
              <p>
                [最安料金] <span>{{ hotelMinCharge(hotelBasicInfo.hotelMinCharge) }}円〜</span>
                <span>（消費税込 {{ hotelMinChargeWithTax(hotelBasicInfo.hotelMinCharge) }}円〜）</span>
              </p>
              <p>
                <span>[所在地] 〒{{ hotelBasicInfo.postalCode }}　{{ hotelBasicInfo.address1 }} {{ hotelBasicInfo.address2 }}</span>
                <a @click="dialogVisible = true" style="color: #007bff; text-decoration: none; cursor: pointer;">
                  <strong>[地図を見る]</strong>
                </a>
                <br>
                [アクセス] {{ hotelBasicInfo.access }}<br>
                [駐車場] {{ hotelBasicInfo.parkingInformation }}
              </p>
              <!-- 地図を表示するモーダルダイアログ -->
              <el-dialog
                :title="hotelBasicInfo.hotelName"
                :visible.sync="dialogVisible"
                width="60%">
                <span>
                  <iframe
                    width="640"
                    height="480"
                    :src="hotelMapUrl(hotelBasicInfo.hotelName, hotelBasicInfo.longitude, hotelBasicInfo.latitude)">
                  </iframe>
                </span>
                <span slot="footer" class="dialog-footer">
                  <el-button type="warning" @click="dialogVisible = false">
                    <strong>地図を閉じる</strong>
                  </el-button>
                </span>
              </el-dialog>
              <!-- モーダルダイアログここまで -->
              <div style="display: inline; text-align: center;">
                <el-button
                  style="width: 300px;"
                  type="success"
                  round
                  @click="visitRakutenTravel(hotelBasicInfo.hotelInformationUrl)">
                  <strong>楽天トラベルで詳細を見る</strong>
                </el-button>
              </div>
            </div>
          </div>
        </el-col>

        <el-col :span="6">
          <div>
            <div>
              <!--
                UserReviewコンポーネントで参照するオブジェクトを指定する
              -->
              <user-review
                :hotelRatingInfo="hotelRatingInfo"
                :hotelBasicInfo="hotelBasicInfo" />
            </div>
          </div>
        </el-col>

      </el-row>
      <!--
        空室検索検索モードの時のみHotelPlanListコンポーネントを表示する
      -->
      <el-row style="margin-top: 16px;" v-if="conditions.searchMode === 1">
        <el-col :span="24">
          <!--
            宿泊施設を一意に特定出来るようにするためにパネルに表示中のhotelNoを渡す
          -->
          <hotel-plan-list :hotelNo="hotelBasicInfo.hotelNo" />
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import UserReview from '@/components/UserReview'
  import HotelPlanList from '@/components/HotelPlanList'
  import {
    chargeToLocalString,
    chargeToLocalStringWithTax,
    openExternalSite
  } from '../helpers/utils'

  export default {
    components: {
      UserReview,
      HotelPlanList
    },
    props: {
      hotelBasicInfo: { type: Object },
      hotelRatingInfo: { type: Object }
    },
    data () {
      return {
        dialogVisible: false // モーダルダイアログの表示状態を制御するフラグ
      }
    },
    computed: {
      ...mapGetters('HotelSearch', ['conditions'])
    },
    methods: {
      // 最安料金を3桁で半角カンマ区切りの文字列で返す
      hotelMinCharge (charge) {
        return chargeToLocalString(charge)
      },
      // 最安料金を3桁で半角カンマ区切り、かつ消費税込みの文字列で返す
      hotelMinChargeWithTax (charge) {
        return chargeToLocalStringWithTax(charge)
      },
      // 楽天トラベルのGoogleマップ表示用ページをお借りする
      // この地図はモーダルウィンドウのiframe内に表示する
      hotelMapUrl (name, lon, lat) {
        const BASE_URL = 'http://travel.rakuten.co.jp/share/gmap/map.html?'
        const PATH = 'f_longitude=' + lon + '&f_latitude=' + lat + '&height=450&width=600'
        return BASE_URL + PATH
      },
      // 「楽天トラベルで詳細を見る」ボタンで該当宿泊施設ページを別ウィンドウで開く
      visitRakutenTravel (url) {
        openExternalSite(url)
      }
    }
  }
</script>

<style>
  .img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  }
  .text {
    font-size: 14px;
  }
  .item {
    margin-bottom: 18px;
  }
  .box {
    float: left;
    margin: 8px ;
  }
  /* clearfix */
  .boxContainer:before,
  .boxContainer:after {
      content: "";
      display: table;
  }
  .boxContainer:after {
      clear: both;
  }
</style>
