<template>
  <div style="width: 960px;">
    <el-form
      :model="conditions"
      label-width="100px"
      size="large"
      :status-icon="true"
      :rules="rules"
      ref="form">

      <el-row :gutter="20">
        <el-col :span="18">
          <el-form-item prop="keyword" label="検索ワード">
            <el-input
              v-model="conditions.keyword"
              placeholder="地域やホテル名などを入力(例: 京都 嵐山) [単語を半角スペースで区切ると複数条件検索]">
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item>
            <el-button
              style="width: 300px;"
              type="primary"
              round
              @click="submitForm('form')">
              <strong>検索する</strong>
            </el-button>
          </el-form-item>
        </el-col>
      </el-row>

    </el-form>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    data () {
      return {
        // async-validatorを使用してvalidationを行う
        rules: {
          keyword: [ // el-form-itemのpropの値と一致させる
            // 未入力は許可しない
            { required: true, message: 'キーワードを入力して下さい', trigger: 'blur' },
            // APIには2文字以上、80文字以内の制約があるのでバリデーションルールを揃える
            { min: 2, max: 80, message: 'キーワードを2文字以上80文字以下で入力して下さい', trigger: 'blur' }
          ]
        }
      }
    },
    computed: {
      // 検索条件のstateにアクセス出来るようにする
      // mutationを使用せず直接更新する
      ...mapGetters('HotelSearch', ['conditions'])
    },
    methods: {
      // el-formのrefの値を引数として渡す
      submitForm (formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$store.commit('HotelSearch/UPDATE_SEARCH_MODE', 0)  // 検索モードの指定
            this.$store.commit('HotelSearch/UPDATE_CURRENT_PAGE', 1) // 検索後のページインデックスは1にリセットする
            this.$store.dispatch('HotelSearch/keywordHotelSearch')   // キーワード検索APIのレスポンスを得る
          } else {
            return false
          }
        })
      }
    }
  }
</script>
