<template>
  <el-container>
    <el-header>
      <global-header />
    </el-header>
    <el-main>
      <div style="padding: 16px; border: 2px solid rgb(84, 92, 100); padding: 10px; border-radius: 25px;">
        <div>
          <h1 style="margin-bottom: 32px;">キーワード検索API</h1>
          <keyword-search-form />
        </div>
        <hr />
        <div>
          <h1 style="margin-bottom: 32px;">施設検索API</h1>
          <simple-search-form />
        </div>

        <pagenation-module style="margin: 16px;" v-show="hotels.length != 0" />
        <hr />
        <div v-if="hotels.length != 0">
          <!--
            ElementのBuilt-in transitionを利用する。
            複数の要素に適用する場合はtransition-groupを使用する。
            http://element.eleme.io/#/en-US/component/transition
          -->
          <transition-group name="el-fade-in-linear">
            <hotel-panel
              v-for="(hotel, index) in hotels"
              :hotelBasicInfo="hotel[0].hotelBasicInfo"
              :hotelRatingInfo="hotel[1].hotelRatingInfo"
              :key="index" />
          </transition-group>
        </div>
        <div v-else>
          検索条件を指定して、「検索する」ボタンを押して下さい。
        </div>
        <hr />
        <pagenation-module style="margin: 16px;" v-show="hotels.length != 0" />

      </div>
    </el-main>
  </el-container>
</template>

<script>
  import GlobalHeader from '@/components/GlobalHeader'
  import SimpleSearchForm from '@/components/SimpleSearchForm'
  import HotelPanel from '@/components/HotelPanel'
  import KeywordSearchForm from '@/components/KeywordSearchForm'
  import PagenationModule from '@/components/PagenationModule'
  import { mapGetters } from 'vuex'

  export default {
    components: {
      GlobalHeader,
      KeywordSearchForm,
      SimpleSearchForm,
      HotelPanel,
      PagenationModule
    },
    computed: {
      ...mapGetters('HotelSearch', ['hotels'])
    }
  }
</script>

<style>
  .el-header, .el-footer {
    padding: 0px;
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }
  .el-main {
    background-color: #fff;
    color: #333;
  }
</style>
