<template>
  <div>
    <!--
      current-page: 現在のページインデックスを指定する
      total:        検索可能な宿泊施設件数を入れる(APIの制限で最大1,000件まで)
      page-size:    1ページに表示する最大件数を指定する(ここでは10件の固定値)
    -->
    <el-pagination
      background
      layout="prev, pager, next"
      :current-page="conditions.currentPage"
      :total="totalPages"
      :page-size="10"
      @current-change="handleCurrentChange">
    </el-pagination>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    methods: {
      // 各ページのリンクがクリックされた時に処理を行う
      handleCurrentChange (index) {
        this.$store.commit('HotelSearch/UPDATE_CURRENT_PAGE', index) // 現在のページインデックスを更新する
        // キーワード検索APIと施設検索APIで処理を分ける
        let mode = this.conditions.searchMode
        switch (mode) {
          case 0:
            // 楽天トラベルキーワード検索API
            this.$store.dispatch('HotelSearch/keywordHotelSearch')
            break
          case 1:
            // 楽天トラベル施設検索API
            this.$store.dispatch('HotelSearch/simpleHotelSearch')
            break
          default:
            console.log('This search mode is not defined. argument: ' + mode)
            break
        }
      }
    },
    computed: {
      ...mapGetters('HotelSearch', ['conditions']),
      ...mapGetters('HotelSearch', ['pagingInfo']),
      // 1,000件以降は検索出来ないため、上限値は1,000件までとする
      // 例えば、1ページの辺りの件数が10件の場合は、10件 * 100ページまでとなる
      totalPages () {
        if (this.pagingInfo.recordCount > 1000) {
          return 1000
        } else {
          return this.pagingInfo.recordCount
        }
      }
    }
  }
</script>
