<template>
  <div style="width: 960px;">
    <el-form
      :model="conditions"
      label-width="100px"
      size="large"
      :status-icon="true"
      :rules="rules"
      ref="form">

      <el-row :gutter="20">
        <el-col :span="24">
          <el-form-item size="30" prop="areaCode" label="都道府県">
            <area-select />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="20">
        <el-col :span="12">
          <el-form-item prop="visitDuration" label="宿泊日程">
            <el-date-picker
              v-model="conditions.visitDuration"
              type="daterange"
              value-format="yyyy-MM-dd"
              range-separator="〜"
              start-placeholder="チェックイン"
              end-placeholder="チェックアウト">
            </el-date-picker>
          </el-form-item>
        </el-col>

        <el-col :span="12">
          <el-form-item prop="adultNum" label="人数">
            <el-input-number
              v-model="conditions.adultNum"
              :min="1"
              :max="10">
            </el-input-number>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item>
        <el-button
          style="width: 300px;"
          type="primary"
          round
          @click="submitForm('form')">
          <strong>検索する</strong>
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
  import AreaSelect from '@/components/AreaSelect'
  import { mapGetters } from 'vuex'

  export default {
    components: {
      AreaSelect
    },
    data () {
      return {
        rules: {
          // 宿泊人数のバリデーション
          // ここでは1〜10までを入力可とする
          adultNum: [
            { required: true, message: '1〜10までを入力して下さい', trigger: 'blur' }
          ],
          // カレンダーのバリデーション
          // TODO: 同日を指定した場合や、チェックイン日＞チェックアウト日の時にエラーとしたい
          visitDuration: [
            { required: true, message: '宿泊日程を入力して下さい', trigger: 'blur' }
          ]
        }
      }
    },
    computed: {
      ...mapGetters('HotelSearch', ['conditions'])
    },
    methods: {
      submitForm (formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$store.commit('HotelSearch/UPDATE_SEARCH_MODE', 1)  // 検索モードの指定
            this.$store.commit('HotelSearch/UPDATE_CURRENT_PAGE', 1) // 検索後のページインデックスは1にリセットする
            this.$store.dispatch('HotelSearch/simpleHotelSearch')    // 施設検索APIのレスポンスを得る
          } else {
            return false
          }
        })
      }
    }
  }
</script>
