<template>
  <div>
    <a target="_blank" :href="hotelBasicInfo.reviewUrl">
      [レビュー数（{{ hotelBasicInfo.reviewCount }}件）]
    </a>
    <table style="width: 240px;">
      <tr>
        <td width="80px">評価平均: </td>
        <td>
          <el-rate style="font-weight: bold;" disabled show-score v-model="hotelBasicInfo.reviewAverage" />
        </td>
      </tr>
      <tr>
        <td>風呂: </td>
        <td>
          <el-rate disabled show-score v-model="hotelRatingInfo.bathAverage" />
        </td>
      </tr>
      <tr>
        <td>設備: </td>
        <td>
          <el-rate disabled show-score v-model="hotelRatingInfo.equipmentAverage" />
        </td>
      </tr>
      <tr>
        <td>場所: </td>
        <td>
          <el-rate disabled show-score v-model="hotelRatingInfo.locationAverage" />
        </td>
      </tr>
      <tr>
        <td>食事: </td>
        <td>
          <el-rate disabled show-score v-model="hotelRatingInfo.mealAverage" />
        </td>
      </tr>
      <tr>
        <td>部屋: </td>
        <td>
          <el-rate disabled show-score v-model="hotelRatingInfo.roomAverage" />
        </td>
      </tr>
      <tr>
        <td>サービス: </td>
        <td>
          <el-rate disabled show-score v-model="hotelRatingInfo.serviceAverage" />
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
  export default {
    props: {
      hotelRatingInfo: { type: Object }, // 宿泊施設に属する口コミのレーティング情報を参照する
      hotelBasicInfo: { type: Object } // 宿泊施設の口コミの平均レーティング情報を参照する
    }
  }
</script>
